<% title = @document.resource&.title.presence || @document.metadata['title'].to_s.html_safe %>
<% set_page_title title %>

<style type="text/css">
  <%= raw(@document.css_styles) %>
</style>

<div class="container-fluid">
  <div class="row">
    <h1 class="text-center p-4"><%= title %></h1>
    <hr>
    <% if current_user&.admin? %>
      <div class="col">
        <%= link_to 'Go to Lessons Admin', admin_documents_path(request.query_parameters), class: 'btn btn-success' %>
        <%= link_to @document.file_url, class: 'btn btn-secondary', target: '_blank' do %>
          <i class="fa-brands fa-google"></i> Google Doc
        <% end %>
      </div>
      <div class="col mb-sm-3 text-end">
        <%= render partial: 'lcms/engine/admin/documents/reimport', locals: { lesson: @document } %>
      </div>
    <% end %>
    <hr>
  </div>
  <div class="row">
    <%= render 'header', document: @document %>
  </div>
</div>

<div class="u-bg--light">
  <div class="container-fluid o-page--ld c-ld--<%= @document.color_code_grade %> u-padding-bottom--gutter2x doc-subject-<%= @document.metadata['subject'].to_s.downcase %>" data-scroll="ld-page" id="ld-page">
    <%= render 'content', document: @document %>
  </div>
</div>
