<div class="row u-od-margin-top--gutter2x">
  <div class="columns u-od-padding-v--large">
    <div class="o-od-devise-form__wrap">
      <h1 class="u-od-margin-bottom--gutter">Register</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.text_field :access_code, autofocus: true, class: 'o-od-input-placeholder--medium-gray' + (resource.errors[:access_code].present? ? ' o-od-input-error' : ''), placeholder: 'Enter access code', value: @code %>
        <% if resource.errors[:access_code].present? %>
          <p class="u-od-cs-txt-link--alert">
            Access code <%= resource.errors[:access_code].first %>
          </p>
        <% end %>
        <%= f.email_field :email, class: 'o-od-input-placeholder--medium-gray' + (resource.errors[:email].present? ? ' o-od-input-error' : ''), placeholder: 'Enter email address' %>
        <% if resource.errors[:email].present? %>
          <p class="u-od-cs-txt-link--alert">
            Email <%= resource.errors[:email].first %>
          </p>
        <% end %>
        <%= f.password_field :password, autocomplete: 'off', class: 'o-od-input-placeholder--medium-gray' + (resource.errors[:password].present? ? ' o-od-input-error' : ''), placeholder: 'Enter a password' %>
        <% if resource.errors[:password].present? %>
          <p class="u-od-cs-txt-link--alert">
            Password <%= resource.errors[:password].first %>
          </p>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'o-od-input-placeholder--medium-gray' + (resource.errors[:password_confirmation].present? ? ' o-od-input-error' : ''), placeholder: 'Confirm your password' %>
        <% if resource.errors[:password_confirmation].present? %>
          <p class="u-od-cs-txt-link--alert">
            <%= resource.errors[:password_confirmation].first %>
          </p>
        <% end %>
        <%= f.submit 'Register', class: 'o-od-btn o-od-btn--xs-full o-od-btn--primary' %>
      <% end %>

      <div class="u-od-margin-bottom--gutter u-od-margin-top--gutter">
        <%= link_to 'Back to Login', new_user_session_path %>
      </div>
    </div>
  </div>
</div>
