<header class="c-header">
  <div class="o-page__wrap--row-column">
    <nav class="o-top-bar">
      <div class="o-top-bar__item c-header-title">
        <%= link_to root_path, class: 'c-header-title__logo c-header__link' do %>
          LCMS Engine
        <% end %>
        <span class="c-header-title__h-menu" data-responsive-toggle="navbar">
          <span class="menu-icon" data-toggle></span>
        </span>
      </div>
      <div class="o-top-bar__wrapper" id="navbar">
        <div class="o-top-bar__item c-header__menu">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="c-header__link">
              <%= link_to t('lcms.engine.admin.nav.curriculum'), lcms_engine.edit_admin_curriculum_path %>
            </li>

            <li class="dropdown c-header__link">
              <%= link_to t('lcms.engine.admin.nav.resources'), lcms_engine.admin_resources_path %>
              <ul class="menu vertical">
                <%= nav_link t('lcms.engine.admin.nav.resources'), lcms_engine.admin_resources_path %>
                <%= nav_link t('lcms.engine.admin.nav.add_resource'), lcms_engine.new_admin_resource_path %>
                <%#= nav_link t('lcms.engine.admin.nav.sketch_compilation', version: 'v1'), new_admin_sketch_compiler_path(:v1) %>
                <%#= nav_link t('lcms.engine.admin.nav.sketch_compilation', version: 'v2'), new_admin_sketch_compiler_path(:v2) %>
                <%= nav_link t('lcms.engine.admin.nav.lessons'), lcms_engine.admin_documents_path %>
                <%= nav_link t('lcms.engine.admin.nav.materials'), lcms_engine.admin_materials_path %>
                <%= nav_link t('lcms.engine.admin.nav.batch_reimport'), lcms_engine.new_admin_batch_reimport_path %>
              </ul>
            </li>

            <li class="c-header__link">
              <%= link_to t('lcms.engine.admin.nav.standards'), lcms_engine.admin_standards_path %>
            </li>

            <li class="dropdown c-header__link">
              <%= link_to t('lcms.engine.admin.nav.users'), lcms_engine.admin_users_path %>
              <ul class="menu vertical">
                <%= nav_link t('lcms.engine.admin.nav.users'), lcms_engine.admin_users_path %>
                <%= nav_link t('lcms.engine.admin.nav.access_codes'), lcms_engine.admin_access_codes_path %>
              </ul>
            </li>

            <li class="c-header__link">
              <%= link_to t('lcms.engine.admin.nav.sign_out'), lcms_engine.destroy_user_session_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
