<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= "#{t('ui.unbounded')} - #{page_title}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_title') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render partial: 'lcms/engine/shared/favicon' %>
    <script>document.querySelector('html').className = 'js';</script>
    <%= stylesheet_link_tag 'lcms/engine/admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%# NOTE: JS served via Assets pipeline should be added first %>
    <%= javascript_include_tag 'lcms/engine/admin/application', 'data-turbolinks-track' => 'reload' %>
    <%= lcms_engine_javascript_pack_tag 'admin' %>
  </head>
  <body>
    <div class="u-page-wrap c-admin u-supported">
      <%= render partial: 'lcms/engine/admin/shared/header' %>
      <div class=o-page>
        <%= render partial: 'lcms/engine/shared/flash' %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'lcms/engine/shared/footer' %>
  </body>
</html>
