<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= "#{t('ui.unbounded')} - #{page_title}" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.querySelector('html').className = 'js';</script>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/lcms-engine-assets/application.css"/>
    <script type="text/javascript" src="/lcms-engine-assets/admin.js" defer></script>
  </head>
  <body>
    <%= render partial: 'lcms/engine/shared/header' %>
    <%= render partial: 'lcms/engine/shared/flash' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%#= render partial: 'lcms/engine/shared/footer' %>
  </body>
</html>
