<!DOCTYPE html>
<html>
<head>
  <title>Lcms engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "lcms/engine/application", media: "all" %>
  <%= javascript_include_tag "lcms/engine/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
