<div class="o-ld-group" data-id="<%= @tmpl[:section].anchor %>" data-tag="<%= @tmpl[:placeholder] %>">

  <div class="o-ld-hr--l1">
    <hr>
  </div>

  <table class="o-simple-table u-pdf-nobreak--around">
    <tr>
      <td class="o-ld-title__title">
        <h2 class="o-ld-title__title--h2"><%= @tmpl[:section].title %></h2>
      </td>
      <td class="o-ld-title__time o-ld-title__time--h2 u-text--right"><%= @tmpl[:section].time.zero? ? '&mdash;' : "#{@tmpl[:section].time} mins" %></td>
    </tr>
  </table>

  <% if @tmpl[:section].summary.present? %>
    <p class="u-txt--ld-summary"><%= @tmpl[:section].summary %></p>
  <% end %>

  <% if @tmpl[:section].try(:lesson_objective).present? %>
    <h3>Lesson Summary:</h3>
    <p><%= @tmpl[:section].lesson_objective %></p>
  <% end %>

  <%= @tmpl[:content] %>
</div>
