<%= simple_form_for @query, url: lcms_engine.admin_resources_path, html: { method: :get } do |f| %>
  <div class="row mb-lg-4">
    <div class="col">
      <%= f.input :grades, collection: Lcms::Engine::Grades.grades,
                  input_html: { class: 'selectize', multiple: true },
                  label: t('.grades'), label_method: :humanize, required: false, wrapper: false %>
    </div>
    <div class="col">
      <%= f.input :resource_standards_standard_id_in, collection: Lcms::Engine::Standard.all,
                  input_html: { class: 'selectize', multiple: true }, label: t('.standards'),
                  required: false %>
    </div>
    <div class="col">
      <%= f.input :tags_name_in,collection: Lcms::Engine::Tag.where_context('tags').select(:id, :name).distinct(:name),
                  input_html: { class: 'selectize', multiple: true }, label: t('.tags'),
                  value_method: :name, required: false %>
    </div>
    <div class="col">
      <%= f.input :resource_type_eq, as: :select, required: false, label: t('.resource_types'),
                  collection: Lcms::Engine::Resource.resource_types,
                  input_html: { allow_blank: true } %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :slug_eq, label: false, required: false, input_html: { class: 'form-control', placeholder: t('.url_slug') } %>
    </div>
    <div class="col">
      <%= f.input :title_cont, label: false, required: false, input_html: { class: 'form-control', placeholder: t('.title') } %>
    </div>
    <div class="col">
      <%= f.button :submit, t('ui.search'), class: 'btn btn-warning', name: nil %>
    </div>
  </div>
<% end %>
