<%= simple_form_for :query, url: lcms_engine.admin_materials_path, html: { 'data-turbo-track': 'reload', method: :get } do |f| %>
  <div class="row mb-lg-2">
    <div class="col">
      <%= f.input :grades, collection: Lcms::Engine::Grades.grades,
                  input_html: { class: 'selectize', multiple: true },
                  label: t('.grades'), label_method: :humanize, required: false, wrapper: false %>
    </div>
    <div class="col">
      <%= f.input :orientation, label: 'Page Orientation',
                  required: false,
                  as: :select,
                  include_blank: true,
                  collection: %w(landscape portrait),
                  label_method: :upcase,
                  value_method: ->(val) { val[0].downcase } %>
    </div>
    <div class="col">
      <%= f.input :name_date, label: 'Name Date',
                  required: false,
                  as: :select,
                  include_blank: true,
                  collection: %w(yes no),
                  label_method: :upcase %>
    </div>
    <div class="col">
      <%= f.input :header_footer, label: 'Header Footer',
                  required: false,
                  as: :select,
                  include_blank: true,
                  collection: %w(yes no),
                  label_method: :upcase %>
    </div>
    <div class="col">
      <%= f.input :sort_by,
                  required: false,
                  as: :select,
                  collection: %w(identifier last_update),
                  include_blank: false,
                  label_method: ->(s){ "Order by #{s.titleize}" },
                  wrapper_html: { class: 'o-admin-sort-by' } %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :search_term, label: 'Identifier', required: false,
                  placeholder: 'Enter Search Terms' %>
    </div>
    <div class="col">
      <%= f.input :search_file_name, label: 'File Name', required: false,
                  placeholder: 'Enter File Name' %>
    </div>
    <div class="col">
      <%= f.input :title, label: 'Title', required: false,
                  placeholder: 'Enter Title' %>
    </div>
    <div class="col">
      <%= f.input :type, label: 'Types',
                  required: false,
                  as: :select,
                  include_blank: true,
                  collection: %w(rubric tool reference_guide),
                  label_method: :upcase %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :guidebook, label: false, placeholder: 'Guidebook', required: false %>
    </div>
    <div class="col">
      <%= f.input :section, label: false, placeholder: 'Section', required: false %>
    </div>
    <div class="col">
      <%= f.input :lesson, label: false, placeholder: 'Lesson', required: false %>
    </div>
    <div class="col">
      <%= f.input :activity, label: false, placeholder: 'Activity', required: false %>
    </div>
    <div class="col">
      <%= f.button :submit, t('ui.search'), class: 'btn btn-warning', name: nil %>
    </div>
  </div>
<% end %>
