<% set_page_title 'Materials Manager' %>

<div class="o-page o-adm-list">

  <%= render 'import_results', results: @results if @results %>

  <h1 class="text-center"><%= t('.title') %></h1>

  <%= render 'search_form' %>

  <div class="row">
    <div class="flex-pull-left">
      <span class="c-multi-selected--select-all"><%= check_box_tag 'selected_all', 'true' %> Select All on this page</span>
    </div>
    <div class="flex-pull-right">
      <%= react_component 'admin/MultiSelectedOperation', {
            text: t('.reimport_selected'),
            operation: 'reimport',
            path: reimport_selected_admin_materials_path(query: @query_params),
            btn_style: 'primary' } %>
      <%= react_component 'admin/MultiSelectedOperation', {
            text: t('.delete_selected'),
            operation: 'delete',
            path: delete_selected_admin_materials_path(query: @query_params),
            btn_style: 'alert'} %>
      <%# link_to t('.new_material_pdf'), new_admin_material_path(source_type: 'pdf'), class: 'button primary' %>
      <%= link_to t('.new_material'), lcms_engine.new_admin_material_path, class: 'button primary' %>
    </div>
    <div class="materials-table materials-table__wrapper">
      <table class="table u-text--centered">
        <tr>
          <th>
          <th>ID
          <th>Identifier
          <th>File Name
          <th>Type
          <th>Title
          <th>Grade
          <th>Guidebook
          <th>Section
          <th>Lesson
          <th>Activity
          <th>Page Orientation
          <th>Name-Date
          <th>Header-Footer
          <th>Connected Lessons
          <th>Reimported at
          <th>
        </tr>

        <% @materials.each do |material| %>
          <% cache material do %>
            <% material = ::Lcms::Engine::DocumentGenerator.material_presenter.new material %>
            <tr id="material_<%= material.id %>">
            <td><%= check_box_tag 'selected_ids[]', material.id, selected_id?(material.id), class: 'c-selected-ids' %></td>
            <td><%= material.id %></td>
            <td class="u-text--right"><%= link_to material.metadata['identifier'], dynamic_material_path(material, request.query_parameters), target: '_blank' %></td>
            <td><%= link_to material.name, material.file_url, target: '_blank' %></td>
            <td><%= material.metadata['type'] %></td>
            <td><%= material.metadata['title']  %></td>
            <td><%= material.metadata['grade'] %></td>
            <td><%= material.metadata['guidebook'] %></td>
            <td><%= material.metadata['section'] %></td>
            <td><%= material.metadata['lesson'] %></td>
            <td><%= material.metadata['activity'] %></td>
            <td><%= material.metadata['orientation'] %></td>
            <td><%= material.metadata['name_date'] %></td>
            <td><%= material.metadata['header_footer'] %></td>
            <td>
              <ul class="materials-table__lessons">
                <% material.documents.each do |lesson| %>
                  <% lesson = ::Lcms::Engine::DocumentGenerator.document_presenter.new lesson %>
                  <li class="u-text--small">
                    <a href="<%= lesson.file_url%>" target="_blank" class="materials-table__lessons--file"><i class="fab fa-google"></i></a>
                    <%= link_to lesson.title, dynamic_path(:material_path, lesson, request.query_parameters), target: '_blank' %>
                  </li>
                <% end %>
              </ul>
            </td>
            <td class="u-txt--small"><%= material.reimported_at.to_s.presence || material.updated_at.to_s %></td>
            <td class="materials-table__btns text-left">
              <%= render partial: 'lcms/engine/admin/materials/reimport', locals: { material: material } %>
              <%= button_to t('ui.delete'), admin_material_path(material, query: @query_params), class: 'button small alert', data: { confirm: t('ui.are_you_sure') }, form_class: 'inline', method: :delete %>
              <% unless material.pdf? %>
                <%# link_to material.pdf_preview_title, preview_pdf_material_path(material), class: 'button warning', target: '_blank' %>
                <%# link_to material.gdoc_preview_title, preview_gdoc_material_path(material), class: 'button warning', target: '_blank' %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <%= will_paginate @materials, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>
